In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
from sqlalchemy import create_engine
from shapely.geometry import shape
from io import BytesIO
import base64

from dotenv import load_dotenv
import os
import json

In [12]:
# .env 파일을 찾아 환경 변수로 로드
load_dotenv()

# 환경 변수 가져오기
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▶️ MySQL 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

In [16]:
query = """
SHOW TABLES
"""
df = pd.read_sql(query, engine)

In [ ]:
# ▶️ 서울 동물약국 수 정보 가져오기
  # 영업/정상 : 필터링
  # 서울특별시 : 지역으로 필터링
  
query = """
SELECT *
FROM animal_pharmacy_registry
WHERE (status_name LIKE '영업/정상') AND (jibun_address LIKE '서울특별시%%')
"""
df = pd.read_sql(query, engine)

# 구 이름 추출 방법 1: 문자열 분할
df['district'] = df['jibun_address'].str.split(' ').str[2]

# 구 이름 추출 방법 2: 정규표현식 사용
import re
df['district'] = df['jibun_address'].str.extract(r'서울특별시 ([가-힣]+구)')

# 구별 개수 집계
district_counts = df['district'].value_counts().reset_index()
district_counts.columns = ['district', 'pharmacy_count']
district_counts = district_counts.sort_values('pharmacy_count', ascending=False)

district_counts

   district  pharmacy_count
0       강남구             287
1       송파구             180
2       서초구             158
3       강동구             156
4       강서구             146
5       은평구             125
6       관악구             118
7       노원구             117
8      영등포구             116
9       마포구             115
10      구로구              92
11     동대문구              92
12      광진구              89
13      중랑구              88
14      성북구              87
15      양천구              83
16      종로구              81
17     서대문구              78
18      도봉구              73
19      강북구              69
20      동작구              67
21      성동구              66
22      금천구              62
23       중구              57
24      용산구              32