In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
from sqlalchemy import create_engine
from shapely.geometry import shape
from io import BytesIO
import base64

from dotenv import load_dotenv
import os
import json

In [3]:
# .env 파일을 찾아 환경 변수로 로드
load_dotenv()

# 환경 변수 가져오기
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▶️ MySQL 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

In [ ]:
def get_animal_beauty_business():
  query = """
  SELECT *
  FROM animal_beauty_business
  WHERE (status_name LIKE '영업/정상') AND (address_jibun LIKE '서울특별시%%')
  """
  df = pd.read_sql(query, engine)

  # 구 이름 추출 방법 1: 문자열 분할
  df['district'] = df['address_jibun'].str.split(' ').str[2]

  # 구 이름 추출 방법 2: 정규표현식 사용
  import re
  df['district'] = df['address_jibun'].str.extract(r'서울특별시 ([가-힣]+구)')

  # 구별 개수 집계
  district_counts = df['district'].value_counts().reset_index()
  district_counts.columns = ['district', 'beauty_count']
  district_counts = district_counts.sort_values('beauty_count', ascending=False)

  return district_counts

district_counts

   district  beauty_count
0       강남구           154
1       송파구           143
2       강서구           101
3       강동구            87
4       서초구            85
5       노원구            83
6       은평구            77
7       성북구            74
8       중랑구            70
9       양천구            68
10      마포구            61
11     영등포구            59
12      도봉구            59
13     동대문구            57
14      관악구            57
15      강북구            56
16      광진구            56
17      성동구            50
18     서대문구            50
19      구로구            45
20      동작구            43
21      용산구            41
22      금천구            40
23       중구            19
24      종로구            13