In [1]:
import matplotlib.pyplot as plt
import koreanize_matplotlib
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# ▶️ .env 파일의 환경변수 불러오기
load_dotenv()
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▶️ MySQL 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

In [ ]:
#     sido as 시도,
# ▶️ 데이터 조회
query = """
SELECT 
    sigungu as district,
    total_registered as companion_animal_registration
FROM companion_animal_registration
WHERE sido = '서울특별시'
ORDER BY total_registered DESC
"""
df = pd.read_sql(query, engine)

df

     시군구  companion_animal_registration
0    강남구                          34843
1    송파구                          33706
2    강서구                          33636
3    은평구                          28005
4    노원구                          27138
5    관악구                          26408
6    강동구                          25515
7    성북구                          24200
8    서초구                          23786
9    양천구                          23770
10   마포구                          23441
11   중랑구                          23018
12   광진구                          20272
13   도봉구                          19873
14   구로구                          19412
15  동대문구                          19074
16  영등포구                          18997
17   강북구                          18585
18   동작구                          18509
19  서대문구                          17781
20   용산구                          17760
21   성동구                          16889
22   금천구                          12925
23   종로구                           9577
24    중구                           8042

In [ ]:

df.columns = ['시도', 'district', '총등록_누계']

# melt 함수 적용 (단일 value_vars)
df_melted = df.melt(
    id_vars=['district'],
    value_vars=['총등록_누계'],
    var_name='종류',
    value_name='등록수'
)

# district, 등록수, 종류 열만 선택
result_df = df_melted[['district', '등록수']]
result_df