In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os


# ▒ .env 환경변수 로드
load_dotenv()
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▒ DB 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

In [7]:
# 데이터 조회: 서울특별시의 자치구별 월별 CO 농도
query = """
SELECT *
FROM pollution_co_concentration_by_station
"""

df = pd.read_sql(query, engine)
df

,id,province,city,station_name,station_code,january,february,march,april,may,june,july,august,september,october,november,december,annual_avg,created_at
0,524,서울,서울,중구,111121,0.72,0.51,0.52,0.42,0.39,0.39,0.39,0.37,0.38,0.46,0.46,0.55,0.44,2025-07-04 06:21:20
1,525,서울,서울,종로구,111123,0.63,0.58,0.55,0.46,0.42,0.41,0.41,0.38,0.39,0.49,0.51,0.61,0.49,2025-07-04 06:21:20
2,526,서울,서울,중랑구,111151,0.55,0.51,0.47,0.37,0.33,0.34,0.31,0.27,0.32,0.38,0.41,0.49,0.40,2025-07-04 06:21:20
3,527,서울,서울,동대문구,111152,0.61,0.56,0.52,0.42,0.39,0.39,0.33,0.35,0.38,0.46,0.50,0.61,0.46,2025-07-04 06:21:20
4,528,서울,서울,은평구,111181,0.78,0.52,0.55,0.48,0.41,0.50,0.40,0.29,0.39,0.40,0.44,0.60,0.48,2025-07-04 06:21:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,1042,제주,서귀포,동홍동,339121,0.30,0.29,0.35,0.36,0.22,0.28,0.32,0.27,0.22,0.23,0.19,0.37,0.29,2025-07-04 06:21:23
519,1043,제주,서귀포,성산읍,339122,0.32,0.44,0.47,0.32,0.20,0.20,0.20,0.19,0.24,0.29,0.30,0.35,0.29,2025-07-04 06:21:23
520,1044,제주,서귀포,대정읍,339131,0.32,0.37,0.39,0.26,0.19,0.18,0.23,0.33,0.28,0.34,0.29,0.27,0.29,2025-07-04 06:21:23
521,1045,제주,서귀포,남원읍,339123,0.34,0.37,0.45,0.34,0.38,0.22,0.32,0.33,0.37,0.27,0.27,0.28,0.33,2025-07-04 06:21:23
522,1046,제주,서귀포,강정동,339124,0.25,0.23,0.25,0.22,0.22,0.24,0.24,0.27,0.26,0.22,0.23,0.27,0.24,2025-07-04 06:21:23

In [11]:
# 데이터 조회: 서울특별시의 자치구별 월별 CO 농도
query = """
SELECT 
    station_name AS 자치구,
    january, february, march, april, may, june, 
    july, august, september, october, november, december
FROM pollution_co_concentration_by_station
WHERE province = '서울'
"""

df = pd.read_sql(query, engine)
df

,자치구,january,february,march,april,may,june,july,august,september,october,november,december
0,중구,0.72,0.51,0.52,0.42,0.39,0.39,0.39,0.37,0.38,0.46,0.46,0.55
1,종로구,0.63,0.58,0.55,0.46,0.42,0.41,0.41,0.38,0.39,0.49,0.51,0.61
2,중랑구,0.55,0.51,0.47,0.37,0.33,0.34,0.31,0.27,0.32,0.38,0.41,0.49
3,동대문구,0.61,0.56,0.52,0.42,0.39,0.39,0.33,0.35,0.38,0.46,0.50,0.61
4,은평구,0.78,0.52,0.55,0.48,0.41,0.50,0.40,0.29,0.39,0.40,0.44,0.60
5,마포구,0.63,0.57,0.52,0.42,0.39,0.39,0.37,0.37,0.39,0.48,0.48,0.58
6,영등포구,0.58,0.62,0.52,0.41,0.39,0.39,0.38,0.27,0.40,0.47,0.48,0.57
7,동작구,0.55,0.52,0.46,0.36,0.34,0.34,0.31,0.31,0.33,0.39,0.41,0.52
8,관악구,0.64,0.61,0.56,0.45,0.43,0.41,0.39,0.38,0.41,0.49,0.48,0.61
9,강남구,0.54,0.51,0.48,0.37,0.35,0.36,0.35,0.34,0.34,0.40,0.40,0.49
10,금천구,0.56,0.56,0.49,0.41,0.39,0.40,0.32,0.27,0.40,0.49,0.49,0.58
11,강동구,0.50,0.47,0.43,0.35,0.33,0.35,0.33,0.35,0.35,0.62,0.60,0.59
12,강북구,0.61,0.57,0.52,0.43,0.37,0.36,0.36,0.33,0.34,0.42,0.45,0.54
13,성북구,0.69,0.61,0.60,0.37,0.39,0.46,0.42,0.42,0.43,0.44,0.48,0.64
14,용산구,0.58,0.58,0.55,0.43,0.41,0.42,0.41,0.40,0.41,0.49,0.49,0.59
15,광진구,0.58,0.55,0.52,0.36,0.28,0.39,0.29,0.32,0.48,0.50,0.52,0.61
16,성동구,0.54,0.47,0.47,0.36,0.33,0.36,0.35,0.32,0.32,0.36,0.36,0.47
17,도봉구,0.67,0.58,0.59,0.43,0.46,0.49,0.36,0.47,0.42,0.47,0.46,0.56
18,서대문구,0.73,0.71,0.54,0.37,0.35,0.42,0.37,0.30,0.37,0.45,0.52,0.70
19,구로구,0.43,0.50,0.50,0.41,0.33,0.31,0.28,0.27,0.29,0.34,0.37,0.51
20,서초구,0.51,0.54,0.52,0.39,0.34,0.34,0.36,0.34,0.33,0.40,0.39,0.49
21,강서구,0.63,0.58,0.53,0.43,0.42,0.41,0.39,0.39,0.41,0.48,0.49,0.60
22,송파구,0.62,0.60,0.53,0.42,0.39,0.40,0.38,0.37,0.39,0.46,0.46,0.55
23,양천구,0.60,0.56,0.54,0.43,0.41,0.41,0.39,0.38,0.39,0.47,0.50,0.61
24,노원구,0.64,0.59,0.54,0.43,0.38,0.38,0.37,0.35,0.36,0.46,0.46,0.58

변환 완료: 25개 자치구
     자치구  CO농도_평균(ppm)
0    강남구         0.411
1    강동구         0.439
2    강북구         0.442
3    강서구         0.480
4    관악구         0.488
5    광진구         0.450
6    구로구         0.378
7    금천구         0.447
8    노원구         0.462
9    도봉구         0.497
10  동대문구         0.460
11   동작구         0.403
12   마포구         0.466
13  서대문구         0.486
14   서초구         0.413
15   성동구         0.392
16   성북구         0.496
17   송파구         0.464
18   양천구         0.474
19  영등포구         0.457
20   용산구         0.480
21   은평구         0.480
22   종로구         0.487
23    중구         0.463
24   중랑구         0.396

In [12]:



# 월별 long format으로 변환
df_melted = df.melt(id_vars='자치구', 
                    value_vars=['january', 'february', 'march', 'april', 'may', 'june',
                                'july', 'august', 'september', 'october', 'november', 'december'],
                    var_name='월', value_name='CO농도(ppm)')

# 월 영문 → 한글 매핑
month_mapping = {
    'january': '1월', 'february': '2월', 'march': '3월', 'april': '4월',
    'may': '5월', 'june': '6월', 'july': '7월', 'august': '8월',
    'september': '9월', 'october': '10월', 'november': '11월', 'december': '12월'
}
df_melted['월'] = df_melted['월'].map(month_mapping)

# 자치구 이름 기준 정렬
df_melted = df_melted.sort_values(by='자치구')

df_melted

     자치구    월  CO농도(ppm)
234  강남구  10월       0.40
259  강남구  11월       0.40
34   강남구   2월       0.51
209  강남구   9월       0.34
84   강남구   4월       0.37
..   ...  ...        ...
77   중랑구   4월       0.37
277  중랑구  12월       0.49
202  중랑구   9월       0.32
177  중랑구   8월       0.27
252  중랑구  11월       0.41

[300 rows x 3 columns]

In [14]:
# 월별 long format 데이터(300행)를 자치구별 집계 데이터(25행)로 변환

# 기존 월별 데이터 (df_melted)
# df_melted: 자치구, 월, CO농도(ppm) 컬럼을 가진 300행 데이터프레임

# 자치구별 CO농도 집계 (평균 계산)
df_district_summary = df_melted.groupby('자치구')['CO농도(ppm)'].mean().reset_index()
df_district_summary.columns = ['자치구', 'CO농도_평균(ppm)']

# 평균값 반올림 (소수점 3자리)
df_district_summary['CO농도_평균(ppm)'] = df_district_summary['CO농도_평균(ppm)'].round(3)

# 자치구 이름 기준 정렬
df_district_summary = df_district_summary.sort_values(by='자치구')

# 인덱스 초기화
df_district_summary = df_district_summary.reset_index(drop=True)

print(f"변환 완료: {len(df_district_summary)}개 자치구")
print(df_district_summary)

변환 완료: 25개 자치구
     자치구  CO농도_평균(ppm)
0    강남구         0.411
1    강동구         0.439
2    강북구         0.442
3    강서구         0.480
4    관악구         0.488
5    광진구         0.450
6    구로구         0.378
7    금천구         0.447
8    노원구         0.462
9    도봉구         0.497
10  동대문구         0.460
11   동작구         0.403
12   마포구         0.466
13  서대문구         0.486
14   서초구         0.413
15   성동구         0.392
16   성북구         0.496
17   송파구         0.464
18   양천구         0.474
19  영등포구         0.457
20   용산구         0.480
21   은평구         0.480
22   종로구         0.487
23    중구         0.463
24   중랑구         0.396