In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
from sqlalchemy import create_engine
from shapely.geometry import shape
from io import BytesIO
import base64

from dotenv import load_dotenv
import os
import json

# .env 파일을 찾아 환경 변수로 로드
load_dotenv()

# 환경 변수 가져오기
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▶️ MySQL 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

In [2]:



# ▶️ 서울 동물위탁관리업 관련 인허가 정보 가져오기
  # 영업/정상 : 필터링
  # 서울특별시 : 지역으로 필터링
  
query = """
SELECT *
FROM seoul_animal_trust_facility
WHERE (status_name LIKE '영업/정상') AND (jibun_address LIKE '서울특별시%%')
"""
df = pd.read_sql(query, engine)

# 구 이름 추출 방법 1: 문자열 분할
df['district'] = df['jibun_address'].str.split(' ').str[2]

# 구 이름 추출 방법 2: 정규표현식 사용
import re
df['district'] = df['jibun_address'].str.extract(r'서울특별시 ([가-힣]+구)')

# 구별 개수 집계
district_counts = df['district'].value_counts().reset_index()
district_counts.columns = ['district', 'animal_trust_count']
district_counts = district_counts.sort_values('animal_trust_count', ascending=False)

district_counts

   district  animal_trust_count
0       강남구                 102
1       송파구                  88
2       강서구                  60
3       서초구                  41
4       강동구                  37
5       관악구                  34
6       용산구                  32
7       양천구                  32
8      동대문구                  30
9       중랑구                  29
10      강북구                  28
11     영등포구                  28
12      은평구                  27
13      마포구                  27
14      금천구                  24
15      노원구                  24
16      성북구                  23
17      광진구                  22
18      도봉구                  21
19     서대문구                  20
20      성동구                  20
21      동작구                  16
22      구로구                  13
23       중구                  11
24      종로구                   6